@import url("http://ajax.googleapis.com/ajax/libs/dojo/1.14.1/dojox/grid/resources/tundraGrid.css");
@import url("http://ajax.googleapis.com/ajax/libs/dojo/1.14.1/dojo/resources/dojo.css");
@import url("http://ajax.googleapis.com/ajax/libs/dojo/1.14.1/dijit/themes/tundra/tundra.css");
@import url("http://ajax.googleapis.com/ajax/libs/dojo/1.14.1/dojox/grid/enhanced/resources/tundra/EnhancedGrid.css");
@import url("http://ajax.googleapis.com/ajax/libs/dojo/1.14.1/dojox/grid/enhanced/resources/EnhancedGrid_rtl.css");

#gridDiv {
   height: 20em;
}

.topContainer {
   background: #f0f2f0; /* fallback for old browsers */
   background: -webkit-linear-gradient(to left, #000c40, #f0f2f0); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to left, #000c40, #f0f2f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.footer {
   background: #f0f2f0; /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #000c40, #f0f2f0); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #000c40, #f0f2f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.tabsIzquierda {
   background: #f0f2f0; /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #000c40, #f0f2f0); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to top, #000c40, #f0f2f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.centerContainer {
   background: #8e9eab; /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

html,
body {
   width: 100%;
   height: 100%;
   margin: 0;
   overflow: hidden;
}

.borderContainer {
   width: 100%;
   height: 100%;
}

#borderContainer {
   width: 100%;
   height: 100%;
}

.tabs {
   height: 100%;
   width: 100%;
}

.tabcontainer {
   height: 100%;
   width: 100%;
}

.todo {
   background-image: url("../www/img0.jpg");
   background-size: 100% 100%;
}

.bienvenida {
   float: right;
}

.bienvenidaParrafo {
   margin-bottom: auto;
}
